@import "tailwindcss";

@theme {

    /* Colors */
    --color-primary: #131413;
    --color-secondary: #181a19;
    --color-border: #f0eeee;
    --color-heading: #edefee;
    --color-txt: #949899;
    --color-accent: #4acd8b;
    --color-borderMain: rgb(245 245 245 / 10%);
    --animate-fade-in: fadeIn 600ms ease-out forwards;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes enter {
  from {
    opacity: 0;
    filter: blur(8px);
    transform: translateY(20px);
  }

  to {
    opacity: 1;
    filter: blur(0);
    transform: translateY(0);
  }
}

.animate-enter {
  animation: enter 1s ease-out forwards;
}